POSTGRES_VERSION=16-bookworm
TZ=Asia/Kolkata

POSTGRES_ADMIN_USER=infra_admin
POSTGRES_DEFAULT_DB=postgres

MLFLOW_DB=mlflow
MLFLOW_DB_USER=mlflow
AIRFLOW_DB=airflow
AIRFLOW_DB_USER=airflow

POSTGRES_MEMORY_LIMIT=1280m
POSTGRES_CPU_LIMIT=1.5
BACKUP_RETENTION_DAYS=30
